In [8]:
1+1+1

3

In [9]:
2+2

4

In [10]:
# 명렁모드에서 a를 누르면 셀 아레 하나더 추가 b를 누르면 위에 추가

In [11]:
# 명렁모드에서 m를 누르면 마크다운모드 전환 y를 누르면 코드작성 모드로 변환

In [12]:
age =12

In [13]:
print(age)

12

In [14]:
나이 = 50
print(50)

50

In [15]:
my_age = 20

In [16]:
print(my_age)

20

In [2]:
age = 20
name = '홍길동'

In [3]:
type(age)

int

In [5]:
bool("djfiafj")

True

In [9]:
bool(None)

False

In [13]:
num = int(input("입력 :"))

입력 :5

In [14]:
True & True

True

In [15]:
name = ""
bool(name)

False

In [16]:
txt = "안녕하세요 \n 저는 김찬혁입니다"
print(txt)

안녕하세요
 저는 김찬혁입니다

In [17]:
value  = "안녕하세요 반갑습니다"
print(len(value))

11

In [22]:
print(value[-1])

다

In [28]:
print(value[:7])

안녕하세요 반

In [29]:
print(value[3:-2])

세요 반갑습

In [52]:
my_format = "이름 : {}, 나이 : {}, 주소 : {}"
f1 = my_format.format('홍길동' , 33 , "한양")
print(f1)

이름 : 홍길동, 나이 : 33, 주소 : 한양

In [51]:
my_format2 = "이름 : {name}, 나이 : {age}, 주소 : {adress}"
f2 = my_format2.format (name ='홍길동' , age =33 , adress = "한양")
print(f2)

이름 : 홍길동, 나이 : 33, 주소 : 한양

In [54]:
value = "student"
print(value.lower() =="student")

True

In [56]:
#1. 주민번호 "901211-1027213"의 앞 6자리만 조회해서 출력하시오.
value = "901211-1027213"
print(value[:6])

901211

In [58]:
#2.  "안녕하세요" 를 10번 출력하시오.
value = "안녕하세요"
print(value  * 10)

안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요

In [59]:
#3.
name="TV"
price=300000
maker = "LG"
# 위 변수의 값을 다음과 같은 형태로 출력하시오.
#"제품명 : TV, 가격 : 300000, 제조사 : LG"

my_format = "제품 : {}, 가격 : {}, 제조사 : {}"
f1 = my_format.format('TV',30000,"LG")
print(f1)

제품 : TV, 가격 : 30000, 제조사 : LG

In [60]:
#4
fruits = "사과 복숭아 귤 배"
# 위 fruits에 "수박"이 있는지 확인하는 코드를 작성하시오.

print('수박'in fruits)

False

In [62]:
#5.
str_value="aldkjaldjfalfjlksajfladlkaalalkdjfa"
# str_value에 a가 몇개 있는지 출력하시오.
print(str_value.count('a'))

9

In [80]:
#6.
# 다음 문자열에서 '-'를 제거 후 출력하세요.
tel = "010-7777-9999"
tel.replace('-','')

'01077779999'

In [75]:
#7
# 다음 문자열 "Niceman" 에서 "man" 문자열만 출력하세요.
value = "Niceman"

print(value[-3:])

man

In [78]:
# 8
# 다음 문자열(URL)에서 "http://" 부분을 제거 후 출력하세요. :
url = "http://daum.net"

print(url[7:])

daum.net