## 리스트
- 순서가 있는 자료구조
    - 순서: index로 원소들이 관리된다. 추가한 순서대로 저장되어 관리된다.

In [1]:
# 생성 [v, v, v, v]
list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = ['홍길동', '박영희', '이명수']

In [5]:
print(list1)
print(list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['홍길동', '박영희', '이명수']

In [6]:
list3 = [100, 2.5, None, "abc", True, False, 100]
list3

[100, 2.5, None, 'abc', True, False, 100]

In [9]:
A_info = ["홍길동", 20, "서울", 178.6, 70.5, '회사원', False]

In [10]:
A_info[0]

False

In [13]:
list2[2]

'이명수'

In [19]:
str = "abc"

In [20]:
str(20)

TypeError: 'str' object is not callable

In [21]:
del str

In [22]:
str(20)

'20'

### indexing/slicing

In [23]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
list1[0]

0

In [25]:
list1[5]

5

In [27]:
list1[-1]

10

In [28]:
list1[-3]

8

In [30]:
list1[0] = 100
list1

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
list1[-1] = 300
list1

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 300]

In [32]:
# 원소의 개수 - len()
len(list1)

11

In [33]:
list1[20] #없는 index 조회시 에러

IndexError: list index out of range

In [34]:
list1

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 300]

In [35]:
list1[1:8] # 1 ~ 7

[1, 2, 3, 4, 5, 6, 7]

In [36]:
list1[:5]

[100, 1, 2, 3, 4]

In [37]:
list1[5:]

[5, 6, 7, 8, 9, 300]

In [39]:
list1[1:8:3]

[1, 4, 7]

In [66]:
list1

[6, 7, 8, 9, 10]

In [69]:
list1[-1::-1]  # 시작: 큰idx, 끝: 작은idx, 증감: 음수 =>  리버스

[10, 9, 8, 7, 6]

In [44]:
list1

[1000, 1, 2, 3, 4, 5, 6, 7, 8, 9, 300]

In [46]:
list1[0:3] = [100,200,300]   # slicing으로 원소들 변경할때는 리스트로 값을 대입.
list1

[100, 200, 300, 3, 4, 5, 6, 7, 8, 9, 300]

In [47]:
list1[0:3]=[0,0,0,0,0,0]
list1

[0, 0, 0, 0, 0, 0, 3, 4, 5, 6, 7, 8, 9, 300]

In [51]:
list1[0:6] = [1]

In [52]:
list1

[1, 3, 4, 5, 6, 7, 8, 9, 300]

In [53]:
list1[::3] = [10,20,30]

In [54]:
list1

[10, 3, 4, 20, 6, 7, 30, 9, 300]

In [56]:
list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list1[:5] = []
list1

[5, 6, 7, 8, 9, 10]

In [58]:
del list1[0]
list1

[6, 7, 8, 9, 10]

In [ ]:
# 리스트 안에 리스트(자료구조)를 원소로 추가.

In [64]:
list3 = [
    [1,2,3,4,5],
    [10,20,30],
    [40,50]
]

In [61]:
list3[0][1]

2

In [62]:
list3[1][2]

30

In [65]:
list3

[[1, 2, 3, 4, 5], [10, 20, 30], [40, 50]]

In [ ]:
list4 = [
    [
        [1,2,3,4,5],
        [10,20,30],
        [40,50]
    ],
    
]

In [70]:
# 리스트 + 리스트 => 두 리스트를 합친 새로운 리스트를 생성
num_list1 = [1,2,3]
num_list2 = [10,20,30]
result = num_list1 + num_list2
result

[1, 2, 3, 10, 20, 30]

In [71]:
num_list1

[1, 2, 3]

In [72]:
num_list2

[10, 20, 30]

In [74]:
# 리스트 * 정수  : 리스트가 가진 원소들을 정수만큼 반복해서 가진 새로운 리스트 생성.
result = num_list1 * 3
result

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [75]:
num_list1

[1, 2, 3]

In [ ]:
# 리스트 대입
a = [10,20,30]

In [ ]:
v1 = a[0]
v2 = a[1]
v3 = a[2]

In [78]:
v1, v2, v3 = [10, 20, 30]

In [79]:
print(v1, v2, v3)

10 20 30

In [85]:
a, b, c = num_list1  #리스트의 원소수와 변수의 개수는 같아야 한다.

ValueError: not enough values to unpack (expected 4, got 3)

In [83]:
print(a, b, c)

1 2 3

In [86]:
# in, not in
c_list = ['서울', '부산', '인천', '광주', '대구']

In [87]:
"서울" in c_list

True

In [88]:
"울산" in c_list

False

In [89]:
"서울" not in c_list

False

In [90]:
"울산" not in c_list

True

### 주요 메소드

In [92]:
c_list.append("울산") # "울산" 을 마지막에 추가.

In [93]:
c_list

['서울', '부산', '인천', '광주', '대구', '울산']

In [96]:
a_list = c_list + ['성남', '대전', '구리']
a_list

['서울', '부산', '인천', '광주', '대구', '울산', '성남', '대전', '구리']

In [97]:
c_list

['서울', '부산', '인천', '광주', '대구', '울산']

In [98]:
c_list.extend(['성남', '대전', '구리'])

In [99]:
c_list

['서울', '부산', '인천', '광주', '대구', '울산', '성남', '대전', '구리']

In [104]:
b_list = sorted(c_list) #c_list 를 정렬한 새로운 리스트를 반환. sorted():내장함수
b_list

['광주', '구리', '대구', '대전', '부산', '서울', '성남', '울산', '인천']

In [105]:
c_list

['서울', '부산', '인천', '광주', '대구', '울산', '성남', '대전', '구리']

In [106]:
c_list.sort() #오름차순

In [107]:
c_list

['광주', '구리', '대구', '대전', '부산', '서울', '성남', '울산', '인천']

In [108]:
c_list.sort(reverse=True) # 내림차순

In [109]:
c_list

['인천', '울산', '성남', '서울', '부산', '대전', '대구', '구리', '광주']

In [110]:
[1, "가"].sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [112]:
c_list.insert(0, "청주") #0번 index에 "청주"를 삽입

In [113]:
c_list

['청주', '인천', '울산', '성남', '서울', '부산', '대전', '대구', '구리', '광주']

In [114]:
c_list.insert(2, "충주")
c_list

['청주', '인천', '충주', '울산', '성남', '서울', '부산', '대전', '대구', '구리', '광주']

In [115]:
c_list.remove("울산")

In [116]:
c_list

['청주', '인천', '충주', '성남', '서울', '부산', '대전', '대구', '구리', '광주']

In [119]:
if "뉴욕" in c_list:
    c_list.remove("뉴욕")
else:
    print("뉴욕은 없다.")

뉴욕은 없다.

In [120]:
c_list.append("서울")
c_list

['청주', '인천', '충주', '성남', '서울', '부산', '대전', '대구', '구리', '광주', '서울']

In [121]:
c_list.remove('서울')

In [122]:
c_list

['청주', '인천', '충주', '성남', '부산', '대전', '대구', '구리', '광주', '서울']

In [124]:
del c_list[0]

In [125]:
c_list

['인천', '충주', '성남', '부산', '대전', '대구', '구리', '광주', '서울']

In [126]:
v = c_list.pop()
v

'서울'

In [127]:
c_list

['인천', '충주', '성남', '부산', '대전', '대구', '구리', '광주']

In [128]:
c_list.pop()

'광주'

In [129]:
c_list

['인천', '충주', '성남', '부산', '대전', '대구', '구리']

In [130]:
c_list.pop(0)

'인천'

In [131]:
c_list

['충주', '성남', '부산', '대전', '대구', '구리']

In [132]:
c_list.extend(['서울', '서울', '서울'])
c_list

['충주', '성남', '부산', '대전', '대구', '구리', '서울', '서울', '서울']

In [133]:
len(c_list) #리스트 안의 원소들이 몇개인지 반환

9

In [134]:
c_list.count("서울") # c_list안에 "서울" 이 몇개?

3

In [135]:
c_list.count("성남")

1

In [136]:
c_list.count('뉴욕')

0

In [137]:
c_list.clear() #모든 원소들을 삭제
c_list

[]

In [138]:
len(c_list)

0

In [140]:
type(c_list)

list

# 튜플(Tuple)

In [139]:
t = (1,2,3)
type(t)

tuple

In [141]:
t1 = 1, 2, 3
type(t1)

tuple

In [142]:
# 튜플 대입
v1, v2, v3 = 1, 2, 3
print(v1, v2, v3)

1 2 3

In [144]:
1,2,3,4

(1, 2, 3, 4)

In [145]:
t

(1, 2, 3)

In [147]:
t3 = (1,)
type(t3)

tuple

In [148]:
t4 = 1,
type(t4)

tuple

In [149]:
l = ['가', '나','다']
t5 = tuple(l)
t5

('가', '나', '다')

In [150]:
l

['가', '나', '다']

In [151]:
t6 = (10,20,30)
l6 = list(t6) # 튜플을 리스트로 변환

In [152]:
l6

[10, 20, 30]

In [153]:
t6

(10, 20, 30)

In [155]:
l6 = list(t6)
l6[0] = 100000
l6

[100000, 20, 30]

In [156]:
t6 = tuple(l6)
t6

(100000, 20, 30)

In [159]:
t1 = (0,1,2,3,4,5,6,7,8,9)
t1

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [160]:
# 조회: indexing, slicing
t1[0]

0

In [162]:
t1[-1]

9

In [163]:
len(t1)

10

In [164]:
t1[20]

IndexError: tuple index out of range

In [165]:
t1

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [166]:
t1[1:7] # 1 ~ 6

(1, 2, 3, 4, 5, 6)

In [169]:
t1[::3]

(0, 3, 6, 9)

In [170]:
t1[0] = 10 #튜플은 값을 변경/추가/삭제 할 수 없다.

TypeError: 'tuple' object does not support item assignment

In [171]:
# 연산자
1 in t1

True

In [172]:
100 in t1

False

In [173]:
1 not in t1

False

In [174]:
100 not in t1

True

In [175]:
t2 = 100,200,300
t2

(100, 200, 300)

In [179]:
t3 = t1 + t2 # 두 튜플이 가진 원소들을 합친 새로운 튜플반환.
t3

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 200, 300)

In [177]:
t1

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [178]:
t2

(100, 200, 300)

In [183]:
t4 = t2 * 5  # 새로운 튜플 반환.
t4

(100, 200, 300, 100, 200, 300, 100, 200, 300, 100, 200, 300, 100, 200, 300)

In [182]:
t2

(100, 200, 300)

In [184]:
t4.count(100)

5

In [185]:
t4.index(100)

0

In [187]:
x = 10
y = 100

In [188]:
tmp = y
y = x
x = tmp

In [189]:
x, y

(100, 10)

In [191]:
x = 10
y = 100

In [192]:
x, y = y, x

In [193]:
x, y

(100, 10)

## 딕셔너리(Dictionary)
- key-value 쌍으로 값들을 모아서 관리.
- key값은 중복을 허용하지 않는다. (이미 있는 key값으로 추가하면 변경이 된다.)
- value는 중복된 값을 저장할 수 있다.

In [194]:
d1 = {"참외":10, "수박":20, "귤":50} 
d2 = {"이름":"홍길동", "나이":30, "주소":"서울시 종로구"}

In [196]:
#조회: indexer [키]
d1['참외']

10

In [197]:
d2['이름'], d2['주소']

('홍길동', '서울시 종로구')

In [199]:
d2['몸무게']

KeyError: '몸무게'

In [202]:
d2['몸무게'] = 80 #없는 키에 값을 대입하면 추가

In [203]:
d2

{'이름': '홍길동', '나이': 30, '주소': '서울시 종로구', '몸무게': 80}

In [205]:
d2['이름'] = '이순신' #있는 키에 값을 대입하면 변경.

In [206]:
d2

{'이름': '이순신', '나이': 30, '주소': '서울시 종로구', '몸무게': 80}

In [207]:
len(d2)

4

In [210]:
"이순신" in d2  # key   in  딕셔너리   딕셔너리 안에 key가 있는지?

True

In [211]:
"이름" not in d2

False

### 주요 메소드

In [214]:
num = d1['참외']
num

10

In [215]:
d1

{'참외': 10, '수박': 20, '귤': 50}

In [216]:
num1 = d1.pop('참외') #삭제하면서 조회
num1

10

In [217]:
d1

{'수박': 20, '귤': 50}

In [218]:
d1.pop('복숭아')

KeyError: '복숭아'

In [221]:
del d1['수박']

In [222]:
d1

{'귤': 50}

In [223]:
del d1['복숭아']

KeyError: '복숭아'

In [227]:
d2['키']

KeyError: '키'

In [229]:
d2.get('나이')

30

In [231]:
v = d2.get("키") #없는 키로 조회하면 None을 반환.
print(v)

None

In [232]:
v = d2.get('키', -1) # 없으면 -1(기본값)을 반환
print(v)

-1

In [233]:
v = d2.get('이름', "이름없음")
v

'이순신'

In [234]:
k = d2.keys() #키값들을 모아서 반환
print(k)

dict_keys(['이름', '나이', '주소', '몸무게'])

In [235]:
v = d2.values() #값들만 모아서 반환
v

dict_values(['이순신', 30, '서울시 종로구', 80])

In [237]:
d2

{'이름': '이순신', '나이': 30, '주소': '서울시 종로구', '몸무게': 80}

In [236]:
i = d2.items()
i

dict_items([('이름', '이순신'), ('나이', 30), ('주소', '서울시 종로구'), ('몸무게', 80)])

In [ ]:
# dict() : 딕셔너리를 생성하는 함수.
# dict(key=value, key=value, key=value)

In [238]:
d3 = dict(귤=10, 사과=20, 수박=50) #key는 변수형태
type(d3)

dict

In [239]:
d3

{'귤': 10, '사과': 20, '수박': 50}

In [240]:
d3['귤']

10

## Set (집합)

In [1]:
s1 = {1, 2, 3}
s1

{1, 2, 3}

In [2]:
s2 = {10, 5, 20, 7}
s2

{5, 7, 10, 20}

In [3]:
s3 = {1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4} #중복을 허용안함.
s3

{1, 2, 3, 4}

In [4]:
s3[0]

TypeError: 'set' object is not subscriptable

In [5]:
s3.pop()

1

In [6]:
s3

{2, 3, 4}

In [245]:
for v in s3:
    print(v)

1
2
3
4

In [248]:
l = [1, 1, 2, 2, 3, 3, 3]
l

[1, 1, 2, 2, 3, 3, 3]

In [249]:
s4 = set(l)
s4

{1, 2, 3}

In [250]:
l2 = list(s4)
l2

[1, 2, 3]

In [ ]:
# list(), tuple(), set() :  다른 자료구조를 자신의 타입을 변환.

In [251]:
set((2,2,2,3,3))

{2, 3}

In [252]:
d3

{'귤': 10, '사과': 20, '수박': 50}

In [253]:
set(d3)

{'귤', '사과', '수박'}

In [9]:
# 값을 추가
s1.add(10)
s1

{1, 2, 3, 10}

In [10]:
s1.add(-10)
s1

{-10, 1, 2, 3, 10}

In [11]:
s1.add(10)

In [12]:
s1

{-10, 1, 2, 3, 10}

In [13]:
l = [100, 200, 300, 100, 10, 10]

In [15]:
s1.update(l) #  한번에 여러개의 값들을 추가. update(자료구조)
s1

{-10, 1, 2, 3, 10, 100, 200, 300}

In [17]:
s1.remove(100)
s1

{-10, 1, 2, 3, 10, 200, 300}

In [21]:
# if 10000 in s1:
s1.remove(10000)

KeyError: 10000

In [22]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

In [23]:
# 합집합
s3 = s1 | s2
s3

{1, 2, 3, 4, 5}

In [25]:
s2

{3, 4, 5}

In [27]:
s4 = s1.union(s2)
s4

{1, 2, 3, 4, 5}

In [28]:
s2

{3, 4, 5}

In [30]:
# 교집합
s5 = s1 & s2
s5

{3}

In [32]:
s6 = s1.intersection(s2)
s6

{3}

In [33]:
# 차집합
s7 = s1 - s2
s7

{1, 2}

In [34]:
s2 - s1

{4, 5}

In [35]:
s8 = s1.difference(s2)
s8

{1, 2}

### 자료구조 변환함수
- list(타입을 변경할 자료구조): 리스트로 변환
- tuple(타입을 변경할 자료구조): 튜플로 변환
- set(타입을 변경할 자료구조): 셋으로 변환
- 변경할 자료구조가 딕셔너리인 경우 key값을 원소로 가진다.
- 딕셔너리로 변환하는 함수는 없음.

In [36]:
list({1,2,3,4})

[1, 2, 3, 4]

In [37]:
tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [38]:
tuple({"a":1, "b":2})

('a', 'b')

In [39]:
set([1,1,2,3,4])

{1, 2, 3, 4}

In [40]:
dict(name='홍길동', age=20)  #{"name":"홍길동", "age":20}

{'name': '홍길동', 'age': 20}

In [50]:
sorted(l)

[10, 10, 100, 100, 200, 300]

In [47]:
l.sort()

In [51]:
c_list = ['부산']

In [65]:
c_list.extend(['서울','서울'])

In [66]:
c_list

['부산',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울']

## TODO

In [67]:
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
# 위는 학생번호 1번 ~ 10번까지 10명의 시험 점수이다. (문제1 ~ 7)
#(1)  7번의 점수를 출력하세요
print(jumsu[7-1])

80

In [68]:
#(2)  1번부터 5번까지의 점수를 출력하세요.
print(jumsu[0:5])

[100, 90, 100, 80, 70]

In [69]:
#(3)  4, 5, 6, 7번의 점수를 출력하세요.
print(jumsu[3:7])

[80, 70, 100, 80]

In [70]:
#(4) 짝수번째 점수를 출력하세요.
print(jumsu[1::2])

[90, 80, 100, 90, 85]

In [72]:
jumsu

[100, 90, 100, 80, 70, 100, 80, 90, 95, 85]

In [71]:
#(5) 홀수번째 점수를 출력하세요.
print(jumsu[::2])

[100, 100, 70, 80, 95]

In [73]:
#(6) 9번의 점수를 20으로 변경하고 전체 출력하세요.
jumsu[8] = 20
print(jumsu)

[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [76]:
#(7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하세요.
set(jumsu)

{20, 70, 80, 85, 90, 100}

In [79]:
#(8) 다음 리스트에 마지막 원소로 "사과", "귤"을 추가하세요.
fruits = ["복숭아", "수박", "딸기",]
fruits.append('사과')
fruits.append('귤')
fruits

['복숭아', '수박', '딸기', '사과', '귤']

In [78]:
fruits.extend(['사과','귤'])
fruits

['복숭아', '수박', '딸기', '사과', '귤', '사과', '귤']

In [80]:
#(9)본인의 이름, 나이, email주소, 취미, 결혼유무를 사전(딕셔너리)으로 생성.
# 취미는 2개 이상의 값을 넣는다..
my_info = {
    "이름":"김성환",
    "나이":20,
    "email":"kgmyh@naver.com",
    "취미":["독서","영화감상"],
    "결혼유무":True,
}

In [83]:
#(10) 위 딕셔너리에서 이름과 email주소를 조회해서 출력하세요.
print(my_info['이름'], my_info["email"])

김성환 kgmyh@naver.com

In [84]:
f"이름: {my_info['이름']}, 이메일주소: {my_info['email']}"

'이름: 김성환, 이메일주소: kgmyh@naver.com'

In [88]:
#(11) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력하세요.
print(my_info['취미'][1])

영화감상

In [90]:
#(12) 위 딕셔너리에 몸무게와 키 항목을 추가하세요.
my_info['몸무게'] = 70
my_info['키'] = 175

In [91]:
my_info

{'이름': '김성환',
 '나이': 20,
 'email': 'kgmyh@naver.com',
 '취미': ['독서', '영화감상'],
 '결혼유무': True,
 '몸무게': 70,
 '키': 175}

In [92]:
my_info['키'] = 190

In [93]:
my_info

{'이름': '김성환',
 '나이': 20,
 'email': 'kgmyh@naver.com',
 '취미': ['독서', '영화감상'],
 '결혼유무': True,
 '몸무게': 70,
 '키': 190}