In [ ]:
정보를 처리한다.
정보-데이터-변수/리터럴값 
처리한다 - 연산자/함수

In [ ]:
+,-,*,/,//,% , > < >= <= != ==  &, |   =

In [4]:
print(10 + 20)   #10,20: 매개변수, 30: 반환값
v = 10+20
v - 50
print(v)

30

In [5]:
v = print(10)
print(v)

10
None

In [7]:
v=sum([1,2,3])  # [1,2,3]:매개변수,  6:리턴값, sum()함수=연산자
print(v)

6

# 함수
- 사용자 정의 연산자
```python
def 함수이름([변수, 변수, ..]):   # 변수: 파라미터,매개변수
   실행문
   실행문
   [return 반환값]  #  return이 실행 안되면 None이 반환.
```

- 함수이름: 관례적으로 소문자만 사용. 단어와 단어는 '_' 로 연결.
    - 어떤 값을 제공하는 함수: get_제공하는값 .
        - ex) get_name(), get_age()
    - 어떤 값을 변경하는 함수: set_변경할값
        - ex) set_name(), set_age()
    - 어떤 값을 제거(삭제) 함수: remove_삭제할 값
        - ex) remove_name(), remove_age()

In [14]:
# 함수 정의 - 코드작성 + 실행 (메모리 올려서 호출 할 수있게 해준다.)
def say_hello(): #선언부
    #구현부
    print("안녕하세요")
    print('Hello')

In [15]:
#호출 = 함수이름([전달할값])
say_hello()

안녕하세요
Hello

In [16]:
say_hello()

안녕하세요
Hello

In [17]:
say_hello()

안녕하세요
Hello

In [17]:
def say_hello2(name): #name: 파라미터
    print(f"{name}님 안녕하세요")
    print(f'{name}, Hello')

In [18]:
say_hello2("홍길동")

홍길동님 안녕하세요
홍길동, Hello

In [22]:
say_hello2("John")

John님 안녕하세요
John, Hello

In [23]:
def say_hello3(name):
    greeting = f"{name}님 안녕하세요. {name}, Hello"
    return greeting  #반환값(return value) 처리결과로서 호출한 곳에 전달.

In [27]:
g = say_hello3("이순신")
print(g)
print(g*3)

이순신님 안녕하세요. 이순신, Hello
이순신님 안녕하세요. 이순신, Hello이순신님 안녕하세요. 이순신, Hello이순신님 안녕하세요. 이순신, Hello

In [29]:
r = say_hello2("홍길동")

홍길동님 안녕하세요
홍길동, Hello

In [30]:
print(r)

None

In [32]:
i = int("100")
print(i)# + 20)

100

In [33]:
j = print("abc")
print(j)

abc
None

In [20]:
# 두개의 숫자를 받아서 사칙연산 결과를 반환.
def calculate(num1, num2): #파라미터는 0개 이상
    a = num1 + num2
    b = num1 - num2
    c = num1 * num2
    d = None
#     if num2 != 0:
    if num2:
        d = num1 / num2
#     return [a, b, c, d]
    return a, b, c, d   #튜플
# return 값.  리턴 값: 반드시 하나만 가능

In [21]:
result = calculate(10, 5)
print(result)

(15, 5, 50, 2.0)

In [43]:
a, b, c, d = calculate(4, 2)
print(f"덧셈:{a}, 뺄셈:{b}, 곱셈:{c}, 나눗셈:{d}")

덧셈:6, 뺄셈:2, 곱셈:8, 나눗셈:2.0

In [51]:
result = calculate(10, 0)
result

(10, 10, 0, None)

In [49]:
1/0

ZeroDivisionError: division by zero

## 매개변수 선언의 여러가지 문법

### Positional Parameter(Argument)
- 매개변수를 순서대로 나열한것.
    - ex) def my_func(a, b, c):  
- 호출할때 각 파라미터에 전달할 값을 순서대로 나열한다. 전달할 값을 생략할 수 없다. 
    - ex) my_func(10, 20, 30)  a<=10, b<=20, c<=30
    - ex) my_func(10, 20)   c에 전달할 값이 없으므로 에러.

In [22]:
def print_info(name, age, tall):
    print(f"이름: {name}, 나이: {age}, 키: {tall}")

In [28]:
print_info("홍길동", 20, 175.8)     # positional 인수

이름: 홍길동, 나이: 20, 키: 175.8

In [24]:
print_info(age=33, tall=180, name="이순신") #keyword 인수

이름: 이순신, 나이: 33, 키: 180

In [26]:
print_info("박영희", 20, tall=160)

이름: 박영희, 나이: 20, 키: 160

In [71]:
print_info(30, 180, "이순신")

이름: 30, 나이: 180, 키: 이순신

In [72]:
print_info(30, 180)

TypeError: print_info() missing 1 required positional argument: 'tall'

### 기본값이 있는 매개변수
- 매개변수를 선언할때 값을 대입한다. 
- 기본값이 있는 매개변수

### Keyword Argument-키워드 인자
- 호출시 전달할 값(Argument)을 어떤 파라미터에 대입할 지 변수명을 이용해 지정할 수 있다.

In [29]:
# 기본값이 있는 매개변수
def print_info2(name=None, age=None, tall=None):
    print(f"이름: {name}, 나이: {age}, 키: {tall}")

In [30]:
print_info2("이순신", 35, 177.7)

이름: 이순신, 나이: 35, 키: 177.7

In [31]:
print_info2("홍길동") #name=홍길동, age, tall은 기본값

이름: 홍길동, 나이: None, 키: None

In [76]:
# 키워드 인자
print_info2(tall=180, age=30, name="홍길동")

이름: 홍길동, 나이: 30, 키: 180

In [77]:
print_info(tall=170, name='김영수', age=20)

이름: 김영수, 나이: 20, 키: 170

### 기본값이 없는 매개변수와 기본값이 있는 매개변수 같이 선언할 때 기본값이 없는 매개변수들을 먼저 선언해야 한다.

In [33]:
# 기본값이 없는 매개변수: 필수
# 기본값이 있는 매개변수: 옵션
def print_info3(name, age, address, tall=None, weight=None):
    print(f"이름: {name}, 나이: {age}, 키: {tall}, 몸무게: {weight}")

In [35]:
print_info3("홍길동", 20, "서울")

이름: 홍길동, 나이: 20, 키: None, 몸무게: None

In [87]:
def print_info4(name=None, age=0, address=None, tall=None, weight=None):
    print(f"이름: {name}, 나이: {age}, 키: {tall}, 몸무게: {weight}")

In [89]:
# tall 에만 값을 전달.
print_info4(None, 0, None, 190) # positional 인자

이름: None, 나이: 0, 키: 190, 몸무게: None

In [90]:
print_info4(tall=190)

이름: None, 나이: 0, 키: 190, 몸무게: None

## 가변인자 
- def 함수명(*변수명) : 0 ~ n개의 argument 값들을 튜플로 묶어서 받는다.
- 관례적으로 변수명은 args

In [92]:
# 리스트를 받아서 총 합계를 구하는 함수
def sum_nums(num_list):
    print(num_list)

In [93]:
sum_nums([1,3,4,5,6])

[1, 3, 4, 5, 6]

In [36]:
def sum_nums2(*num_list): #num_list=(1,2,3,4,5,6,7,8,9)
    print(num_list)
    print(type(num_list))
    print(len(num_list))

In [109]:
nums = [10,20,30,40,50]

In [112]:
# sum_nums2(nums) # 리스트 1개를 전달            sum_nums2([10,20,30,40,50])
sum_nums2(*nums)  # 리스트의 원소들을 풀어서 전달 sum_nums2(10,20,30,40,50) . tuple, list

(10, 20, 30, 40, 50)
<class 'tuple'>
5

In [38]:
sum_nums2()

()
<class 'tuple'>
0

In [39]:
sum_nums2(1,2,3)

(1, 2, 3)
<class 'tuple'>
3

In [37]:
sum_nums2(1,2,3,4,5,6,7,8,9)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>
9

- def 함수명(**변수명)
    - 호출할 때 keyword 인자 형태로 전달하고 가변인수는 이것을 dictionary로 처리한다.
    - 관례적으로 변수명은 kwargs 로 준다.

In [135]:
def person_info(**info):
    print(info)
    print(type(info))

In [138]:
d = {
    "id":"id-1",
    "password":"1111",
    "name":"김회원"
}

In [143]:
person_info(**d) #**딕셔너리
# person_info(id="id-1", password="1111", name="김회원")

{'id': 'id-1', 'password': '1111', 'name': '김회원'}
<class 'dict'>

In [136]:
# person_info("홍길동", 20)
person_info(name="홍길동", age=20)

{'name': '홍길동', 'age': 20}
<class 'dict'>

In [121]:
person_info()

{}
<class 'dict'>

In [122]:
person_info(name='이순신')

{'name': '이순신'}
<class 'dict'>

In [123]:
person_info(name="박영희", age=20, address="서울", tall=180, weight=70.5)

{'name': '박영희', 'age': 20, 'address': '서울', 'tall': 180, 'weight': 70.5}
<class 'dict'>

- 하나의 함수 정의당 가변인자는 각각 한개씩만 가능
- 가변인자와 일반 매개변수를 같이 선언할 경우 일반 매개변수를 먼저 선언해야 한다.
- 이름관례 : \*args, \*\*kwargs

In [129]:
def test(a, b, *args):
# def test(a, b, *args, *args2): #같은 종류의 가변인자를 2개이상 선언할 수 없다.
    print(a, b, args)

In [130]:
test(1,2 ,3,4,5,6,7)

1 2 (3, 4, 5, 6, 7)

In [133]:
def test2(*args, **kwargs):
    print(args)
    print(kwargs)

In [144]:
i = test2(1,2,3,4,5, name="이름", address="주소")
print(i)

(1, 2, 3, 4, 5)
{'name': '이름', 'address': '주소'}
None

In [ ]:
def print_info(name, age, address):
#     print(f"이름:{name}, 나이:{age}, address:{address}")

In [ ]:
def print_info(**kwargs):
    print(f"이름:{kwargs['name']}, 나이:{kwargs['age']}, address:{kwargs['address']}")

In [ ]:
print_info(name="이름", age=20, address="서울")

## 변수의 유효범위(Scope)

In [148]:
def my_func():
#     함수내에서 선언된 변수: 지역변수(Local Variable) => 함수내부에서만 사용가능
    x = 10
    print(x)

In [149]:
my_func()

10

In [150]:
x

NameError: name 'x' is not defined

In [40]:
var = 1000 #전역변수(global variable)

print(var)
print(var)

1000
1000

In [41]:
def test_func2():
    print(var)

In [43]:
test_func2()
print(var)

1000
1000

In [169]:
def test_func3():
    global var  #이제부터 var에 값을 대입하는 것은 전역변수 var에 하는 것이다. 
    var = 200 #전역변수 var의 값을 재할당.
    print(var)

In [170]:
test_func3()

200

In [171]:
var

200

In [164]:
def test_func2():
    print(var)

In [165]:
test_func2()

1000

In [166]:
def test_func():
    var = 50 # 지역변수
    print(var)

In [167]:
test_func()

50

In [168]:
var

1000

## 함수(Function)는 일급 시민 객체(First class citizen Object)

### 일급시민객체
- 변수에 대입할 수 있는 값(타입).
- 함수 호출시 매개변수로 전달할 수 있는 값(타입). (argument)
- 함수의 반환값으로 사용할 수 있는 값(타입).

In [174]:
a = 10  #정수(int)
def test_func(num):
    print(num)
    return 10    #int를 반환값

In [175]:
i = test_func(10) # int 10을 argument
print(i)

10
10

In [ ]:
# int(정수)는 일급시민객체

In [44]:
# 함수의 이름: hello
def hello():
    print("안녕하세요")

In [45]:
hello() #hello() 함수를 호출

안녕하세요

In [46]:
my_hello = hello # 함수 hello를 my_hello에 대입=>새로운 이름

In [47]:
my_hello()

안녕하세요

In [48]:
hello()

안녕하세요

In [49]:
your_hello = hello
your_hello()

안녕하세요

In [ ]:
your_hello = hello   # 함수 hello를 your_hello에 대입
your_hello = hello() # hello() 리턴값을 your_hello 변수에 대입

In [184]:
def plus(num1, num2):
    return num1+num2 #리턴값이 있는 함수.

In [185]:
v = plus(1,2) #plus함수를 호출해서 반환된 값을 변수 v에 넣어라.
print(v)

3

In [187]:
v2 = plus  #plus함수 자체를 v2에 대입

In [188]:
v2(10,20)

30

In [189]:
plus(10,20)

30

In [190]:
v2(100,200)

300

In [193]:
print(plus(1,2))

3

In [194]:
print(plus)

<function plus at 0x00000290B85C01F0>

In [203]:
def plus(num1, num2):
    return num1+num2 #리턴값이 있는 함수.

In [201]:
plus(100,200)

300

In [204]:
def calculate(func):
    # n1, n2를 어떻게 처리할지를 매개변수(func)를 통해서 함수로 받는다.
    n1 = 10
    n2 = 20
    result = func(n1, n2)
    print(result)

In [ ]:
def calculate(num1, num2): 
    # 처리방법. 처리할 값을 매개변수로 받겠다.
    a = num1 + num2
    b = num1 - num2
    c = num1 * num2
    d = num1 / num2
    return [a, b, c, d]

In [ ]:
calculate(10,20)

In [205]:
calculate(plus) # plus 함수를 넘김
# calculate(plus(1,2))# plus() 호출해서 반환된 값을 넘김

30

In [206]:
def minus(num1, num2):
    return num1 - num2

In [207]:
def multiply(num1, num2):
    return num1*num2

In [208]:
calculate(minus)

-10

In [209]:
calculate(multiply)

200

In [216]:
# 튜플을 받아서 index 0의 값을 반환
def get_key(tu):
    return tu[1]

In [217]:
get_key((1,2,3)), get_key((10,5,7))

(2, 5)

In [213]:
lst = [
    (1,2,3),
    (10,-10,5),
    (0, 100,1)    
]

In [214]:
# sorted(iterable, key=함수) 정렬 : 오름/내림차순
# 원소 하나 하나를 함수의 매개변수에 전달. 그 함수가 반환하는 값을 기준으로 정렬.

In [52]:
?sorted

In [54]:
sorted([1,100,5,-20], reverse=True)

[100, 5, 1, -20]

In [215]:
sorted(lst, key=함수) #오름차순

[(0, 100, 1), (1, 2, 3), (10, -10, 5)]

In [218]:
sorted(lst, key=get_key) # 2, -10, 100

[(10, -10, 5), (1, 2, 3), (0, 100, 1)]

In [219]:
lst[0]

(1, 2, 3)

In [222]:
get_key(lst[2])  # 0:2, 1:-10, 2:100      1, 0, 2

100

In [223]:
def tu_sum(tu):
    return sum(tu)

In [224]:
tu_sum((1,2,3,4,5))

15

In [225]:
sorted(lst, key=tu_sum) #정렬기준: 원소의 총합이 작은 순서

[(10, -10, 5), (1, 2, 3), (0, 100, 1)]

In [226]:
sorted(lst, key=tu_sum, reverse=True)

[(0, 100, 1), (1, 2, 3), (10, -10, 5)]

### 람다표현식(람다식-Lambda Expression)
- 단일 구문으로 표현하는 익명함수
    - 익명함수: 이름(함수선언)없이 구현만 가지고 있는 함수 표현식.
- 일회성 사용 함수를 만들때 주로 사용.  
    - 함수호출시 매개변수에 함수를 전달할 때 많이 사용.
- 구문
```python
lambda [매개변수] : 실행문
```
- 실행문: 하나의 구문만 가능. 실행문의 처리결과를 자동으로 반환한다. (리턴 구문 필요없다.(생략))

In [227]:
def plus(num1, num2):
    return num1+num2

In [56]:
p = lambda num1, num2:num1+num2
p(10,20)

30

In [229]:
p(100,200)

300

In [231]:
def calculate(func):
    # n1, nu2를 어떻게 처리할지를 매개변수(func)를 통해서 함수로 받는다.
    n1 = 10
    n2 = 20
    result = func(n1, n2)
    print(result)

In [233]:
calculate(lambda num1,num2:num1+num2)

30

In [234]:
calculate(func=lambda num1,num2:num1-num2)

-10

In [236]:
calculate(lambda x,y:x*y)
# calculate(lambda num1,num2:num1*num2)

200

In [241]:
lst = [
    (1,2,3),
    (10,-10,5),
    (0, 100,1)    
]

In [242]:
#  튜플들의 총합을 기준으로 sorting
sorted(lst, key=lambda t:sum(t))

[(10, -10, 5), (1, 2, 3), (0, 100, 1)]

In [58]:
str_list = ['adfas','oiuajlkcx','as','aacc', 'zlckjvlzkxcjvklcvx']
sorted(str_list)

['aacc', 'adfas', 'as', 'oiuajlkcx', 'zlckjvlzkxcjvklcvx']

In [62]:
def check_length(s):  #5, 9, 2, 4, 11
    return len(s)

In [ ]:
# def len(x):
#     return 글자수

In [61]:
# 글자수 많은 순서대로 정렬
sorted(str_list, key=check_length, reverse=True)

['zlckjvlzkxcjvklcvx', 'oiuajlkcx', 'adfas', 'aacc', 'as']

In [64]:
sorted(str_list, key=lambda x:len(x), reverse=True)

['zlckjvlzkxcjvklcvx', 'oiuajlkcx', 'adfas', 'aacc', 'as']

In [66]:
sorted(str_list, key=len, reverse=True)

['zlckjvlzkxcjvklcvx', 'oiuajlkcx', 'adfas', 'aacc', 'as']

In [67]:
# dictionary 정렬
dic = {
    "b":100,
    "a":200,
    "c":50
}

In [68]:
sorted(dic) # key값들을 정렬한 뒤 리스트로 반환.

['a', 'b', 'c']

In [72]:
# value를 기준으로 정렬을 하려는 경우. (전제: value의 데이터 타입이 동일한 경우.)
result = sorted(dic.items(), key=lambda x:x[1])
sorted_dic = { k:v for k, v in result}
sorted_dic

{'c': 50, 'b': 100, 'a': 200}

In [73]:
dic.items()

dict_items([('b', 100), ('a', 200), ('c', 50)])

In [74]:
dic.values()

dict_values([100, 200, 50])

In [75]:
dic.keys()

dict_keys(['b', 'a', 'c'])

- filter(함수, Iterable): Iterable의 원소들 중에서 특정 조건을 만족하는 원소들만 걸러주는 함수.
    - 함수: bool 값을 반환, 매개변수는 1개.
    - Iterable의 원소 하나 하나를 함수의 매개변수로 전달. 함수가 True를 반환하는 원소만 반환.
    
- map(함수, Iterable): Iterable의 원소들 하나하나를 처리해서 그 처리결과를 반환
    - 함수: 어떻게 처리할지를 정의. 매개변수 1개. 반환값을 원소를 처리한 결과.
- filter/map함수의 반환타입은 iterable(generator)

In [91]:
num_list = list(range(1, 11))
num_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [101]:
# num_list의 각각의 값들(원소들)을 10배한 값을 반환.
m = map(lambda x : x*10, num_list)
# m
list(m)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [102]:
for i in m:
    print(i)

In [93]:
def change(x):
#     x /= 10
#     x += 100
    return x*10

In [104]:
[i*10  for i in num_list] # mapping

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [87]:
num_list = list(range(100))
# 10의 배수만 걸러내기.
f = filter(lambda x:x%10==0,  num_list) 
print(list(f))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [88]:
print(list(f))

[]

In [85]:
[i for i in num_list if i%10==0] #- filtering

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [86]:
f = filter(lambda x:x%10==0,  num_list)

## docstring
- 함수/class에대한 설명
- 함수선언부와 구현부 사이에 여러줄 짜리 문자열 (""" """) 로 작성한다.
- 함수가 하는 역할. 매개변수 설명. 리턴값 설명

In [107]:
def print_info(name, age, address):
    """
    회원 정보를 출력하는 함수
    설명1
    설명2
    [매개변수]
        name: str - 회원 이름
        age: int - 회원 나이
        address: str - 회원 주소
    [반환값]
        int: 나이의 10 곱한값
    """
    print(f"이름:{name}, 나이: {age}, 주소: {address}")
    return age*10

In [108]:
?print_info

In [ ]:
print_info  #shift+tab

### pass 키워드(예약어)
- 코드블럭을 하는일 없이 채울때.

In [110]:
def test():
    pass
    #TODO 구현은 나중에

In [113]:
if False:
    pass

In [115]:
for i in range(10):
    pass

In [116]:
while False:
    pass

In [120]:
# 1. 사용자가 입력한 단의 구구단을 출력하는 함수를 구현
def gugudan():
    dan = input("단:") # int(input("단:"))
    dan = int(dan)
    for num in range(1,10):
        print(f"{dan} X {num} = {dan*num}")

In [123]:
gugudan()

단:20
20 X 1 = 20
20 X 2 = 40
20 X 3 = 60
20 X 4 = 80
20 X 5 = 100
20 X 6 = 120
20 X 7 = 140
20 X 8 = 160
20 X 9 = 180

In [122]:
gugudan()

단:5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [132]:
# 2. 시작 정수, 끝 정수를 받아 그 사이의 모든 정수의 합을 구해서 반환하는 함수를 구현
def accumulate(start, end):
    """
    시작정수부터 끝 정수에 포함된 모든 정수의 합계를 계산해서 반환.
    [매개변수]
        start: int - 시작정수
        end: int - 종료정수
    [반환값]
        int: 총합계
    """
    result = 0
    for i in range(start, end+1):
        result += i
    return result

In [ ]:
cnt = start
result = 0
while cnt<=end:
    result += 1
    cnt +=1

In [130]:
def accumulate2(start, end):
    return sum(range(start, end+1))

In [126]:
accumulate(1,10), accumulate(100,200)

(55, 15150)

In [131]:
accumulate2(1,10), accumulate2(100,200)

(55, 15150)

In [133]:
# 3. 2번 문제에서 시작을 받지 않은 경우 0을, 끝 정수를 받지 않으면 10이 들어가도록 구현을 변경
def accumulate3(start=0, end=10):
    return sum(range(start, end+1))

In [135]:
accumulate3(), accumulate3(5)

(55, 45)

In [136]:
def accumulate4(*values):
    return sum(values)

In [137]:
accumulate4(1,10,20,5,10)

46

In [141]:
# 4. 체질량 지수(體質量指數, Body Mass Index, BMI)는 비만도를 나타내는 지수로 키가 a미터 이고 몸무게가 b kg일때 b/a**2 로 구한다.
# 체질량 지수가
#- 18.5 미만이면 저체중
#- 18.5이상 25미만이면 정상
#- 25이상이면 과체중
#- 30이상이면 비만으로 하는데
#몸무게와 키를 매개변수로 받아 비만인지 과체중인지 반환하는 함수를 구현하시오.
def check_bmi(tall, weight):
    """
    BMI 지수를 계산해서 비만도를 반환
    [매개변수]
        tall: double - 키(미터)
        weight: double - 몸무게(kg)
    [반환값]
        str : 비만도(저체중, 정상, 과체중, 비만)
        튜플: (bim지수, 비만도)
    """
    bmi = weight/(tall**2)
    result = None
    if bmi < 18.5:
        result = "저체중"
    elif bmi < 25:
        result = "정상"
    elif bmi <30:
        result = '과체중'
    else:
        result = "비만"
    return bmi, result

In [143]:
r = check_bmi(1.8, 70.5)
# r = check_bmi(1.5, 90.5)
print(r)

(21.75925925925926, '정상')

In [144]:
# 람다식
#5. filter를 이용해 다음 리스트에서 양수만 추출해서 리스트를 구현
ex1 = [1, -10, -2, 20, 3, -5, -7, 21]

In [145]:
f = filter(lambda x:x>=0, ex1)
list(f)

[1, 20, 3, 21]

In [146]:
list(filter(lambda x:x>0, ex1))

[1, 20, 3, 21]

In [147]:
[i for i in ex1 if i>=0]

[1, 20, 3, 21]

In [149]:
#6. filter와 map을 이용해 다음 리스트에서 음수만 추출한 뒤 그 제곱한 값들을 가지는 리스트를 구현
ex2 = [1, -10, -2, 20, 3, -5, -7, 21]

In [151]:
[i**2 for i in ex2 if i < 0]

[100, 4, 25, 49]

In [153]:
f = filter(lambda x : x<0, ex2)
m = map(lambda x:x**2, f)

In [154]:
list(m)

[100, 4, 25, 49]

In [155]:
m2 = map(lambda x:x**2, filter(lambda x : x<0, ex2))

In [156]:
list(m2)

[100, 4, 25, 49]

In [ ]:
#함수1(함수2())  # 1. 함수2() 2. 함수1() 함수2()의 처리결과를 전달.